.App {
    margin: 1rem;
    font-family: sans-serif;
    // border: 2px solid red;
    h1 {
        font-size: 60px;
    }

    footer {
        position: absolute;
        bottom: 0px;
        font-size: 20px;
    }
}